
flask==2.0.3
werkzeug==2.0.3
flask-socketio==5.1.1
python-socketio==5.4.0
python-engineio==4.2.1
flask-cors
tqdm==4.64.1


chess==1.7.0
python-chess
stockfish

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.0+cpu
numpy==1.22.0

joblib==1.1.1
pandas
matplotlib
scikit-learn


eventlet==0.33.0
dnspython==1.16.0
