# Flask and Socket.IO dependencies
flask==2.0.3
werkzeug==2.0.3
flask-socketio==5.1.1
python-socketio==5.4.0
python-engineio==4.2.1
flask-cors
tqdm==4.64.1

# Chess and AI dependencies
chess==1.7.0
python-chess
stockfish

# Data processing and ML dependencies
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.0+cpu
numpy==1.22.0
# Use a specific version of joblib that doesn't have the UTF-8 issue
joblib==1.1.1
pandas
matplotlib
scikit-learn

# Server dependencies
eventlet==0.33.0
dnspython==1.16.0
